<div class="wrapper">
  <div class="container">
    <div class="filter">
      <input class="filter-control" type="text" (keydown.enter)="search($event)" placeholder="Type and press Enter">
      <select class="filter-control" (change)="filter('network',$event)">
        <option [value]="undefined">All Network</option>
        <option *ngFor="let ntk of network" [value]="ntk">{{ntk}}</option>
      </select>
      <select class="filter-control" (change)="filter('genre',$event)">
        <option [value]="undefined">All Genre</option>
        <option *ngFor="let gn of genre" [value]="gn">{{gn}}</option>
      </select>
      <select class="filter-control" (change)="filter('premiere',$event)">
        <option [value]="undefined">All Year</option>
        <option *ngFor="let yr of year" [value]="yr">{{yr}}</option>
      </select>
    </div>
    <table>
      <thead>
        <th
          *ngFor="let head of tableHeader | keyvalue:null"
          (click)="setColumn(head.key, 'acs')"
        >
          {{head.value}}
        </th>
      </thead>
      <tbody *ngFor="let srs of filteredSeries.length !== 0? filteredSeries : series |
              sortBy: order : column">
        <td>
          <h2>{{srs.title}}</h2>
          <div class="span-block">
          <span class="oval" *ngFor="let gen of srs.genre">{{gen}}</span>
          </div>
        </td>
        <td>{{srs.season}}</td>
        <td>{{srs.network}}</td>
        <td>{{srs.premiere}}</td>
      </tbody>
    </table>

    <mat-paginator [length]="pageLength"
                   [pageSize]="pageSize"
                   [pageIndex]="pageIndex"
                   [pageSizeOptions]="[1, 5, 10, 50]"
                   (page)="pageEvent = setLimit($event)"
    >
    </mat-paginator>

  </div>
</div>
